//Navbar
.navbar-brand {
    width: 50%;

&__logo {
    width: 50%;

}

}

@media  screen and (min-width: 992px) {
.navbar-brand__logo {
    width: 30%;
}
    
}

.nav-item  {
    font-size: $large;
    color: $black;
}

button.navbar-toggler {
    border: transparent;
    text-align: right;
}
.navbar-toggler.collapsed {
    border: transparent;
    text-align: right;
}

.navbar-toggler-icon {
    color: $black;
    border-color: transparent;
}

.navbar-collapse

{
    text-align: right;
}