//Color Scheme

//Color Scheme

$black: rgb(0, 0, 0);
$platinum: rgb(161, 159, 159);
$coral: #FF6163;
$lightblue: #ADD8E6;

//Typography

//Font-family

$primary-font: 'Roboto', sans-serif;
$secondary-font: 'Poppins', sans-serif;


//Font-Weight

$regular: 400;
$bold: 700;

//Font-Size

$small: 16px;
$medium: 20px;
$large: 32px;
$x-large: 40px;



