.hero-section{
    width: 100vw;
    height: 100px;
    overflow: hidden;
}
    @media screen and (min-width: 768px) {
        .hero-section{
            width: 100vw;
            height: 300px;
            overflow: hidden;
        }
  }



.hero-section__banner
{
    width: 100%;
    height: auto;
}
  @supports(object-fit: cover){
      .hero-section__banner{
        height: 100%;
        object-fit: cover;
        object-position: center center;
      }
  }