.section-author {
    padding: 2%;
    margin: 0;
    border-bottom: solid;
    border-color: $platinum;
    border-width: 1px;

@media screen and (max-width: 992px){
    text-align: center;
    border-bottom:hidden;
    border-color: $platinum;
    border-width: 1px;
    margin-top: 5%;
}
}



.section-author__img {
    width: 15%;
    border-radius: 50%;
    display: inline-block;
}

.section-author__text {
    display: inline-block;
    vertical-align: middle;
    margin-left: 2%;
}

.section-author__title {
    font-size: $large;
    font-weight: $bold;
}

.section-author__subtitle {
    font-size: $medium;
    color: $platinum;
    margin-left: 3%;
    margin-top: -5%;
}

.section-author__buttons {
    text-align: right;
    vertical-align: middle;
}

.section-author__button1 {
    background-color: $coral;
    font-size: $large;
    margin-right: 2%;
}

.section-author__button2 {
    background-color: $lightblue;
    font-size: $large;
}